:root {
    --color: #E3F2FD;
    --color-dark: #BBDEFB;
    --color-extra-dark: #90CAF9;
    --error: #ED4337;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1 {
    font-size: initial;
    margin: 0;
}

h2 {
    font-size: initial;
    margin: 0;
}

h3 {
    font-size: initial;
    margin: 0;
}

a {
    color: initial;
    text-decoration: initial;
    cursor: pointer;
}

p {
    margin: 0;
}

button {
    cursor: pointer;
    background-color: var(--color);
    border: none;
    border-radius: 4px;
    transition-duration: 200ms;
}

button:hover {
    background-color: var(--color-dark);
}