.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.content {
    width: min(1150px, calc(100vw - 40px));
}

.landing {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: max(12vh, 60px);
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    font-size: 12rem;
}

.title-top {
    font-size: 4rem;
}

.desc {
    max-width: 1000px;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.65rem;
    font-size: 1.8rem;
}

.link {
    font-size: 1.2rem;
    padding: 0.6rem 1.2rem;
    background-color: var(--color);
    border-radius: 4px;
    transition-duration: 200ms;
}

.link:hover {
    background-color: var(--color-dark);
}

.footer {
    position: absolute;
    bottom: 0;
    width: min(1150px, calc(100vw - 40px));
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.9rem;
}

.footer-link {
    text-decoration: underline;
}

.repo-link {
    margin-left: auto;
}

.repo-icon {
    width: 30px;
    height: 30px;
}